@using Microsoft.AspNetCore.Authorization
@attribute [Route(Paths.EmployeeNew)]
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

<BlazoredToasts/>
<EditForm id="employee" Model="@Entity" OnValidSubmit="OnSubmit" FormName="employee">
    
    <LoanTrackToolbar ShowSubmit="true" ShowClear="true" OnClear="OnClear" OnBack="()=> navigationManager.NavigateTo(Paths.EmployeesIndex)">
    </LoanTrackToolbar>

    <div class="row scrollable-container" style="max-height: 80vh;">
        <DataAnnotationsValidator/>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xxl-4 mb-1">
            <div class="form-outline mb-4">
                <label class="required">First Name</label>
                <InputText DisplayName="First Name" class="form-control" @bind-Value="Entity.FirstName"/>
                <ValidationMessage For="@(() => Entity.FirstName)"/>
            </div>
            <div class="form-outline mb-4">
                <label class="required">Last Name</label>
                <InputText DisplayName="Last Name" class="form-control" @bind-Value="Entity.LastName"/>
                <ValidationMessage For="@(() => Entity.LastName)"/>
            </div>
            <div class="form-outline mb-4">
                <label>Email</label>
                <InputText DisplayName="Email" class="form-control" @bind-Value="Entity.Email"/>
                <ValidationMessage For="@(() => Entity.Email)"/>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xxl-4 mb-1">
            <div class="form-outline mb-4">
                <label class="required">User Role</label>
                <select class="form-select" @bind="Entity.UserRole">
                    @foreach (var role in UserRoles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <ValidationMessage For="@(() => Entity.UserRole)"/>
            </div>

            <div class="form-outline mb-4">
                <label>Password</label>
                <InputText type="password" class="form-control" @bind-Value="Entity.Password"/>
                <ValidationMessage For="@(() => Entity.Password)"/>
            </div>
            
            <div class="form-outline mb-4">
                <label>Confirm Password</label>
                <InputText type="password" class="form-control" @bind-Value="Entity.ConfirmPassword"/>
                <ValidationMessage For="@(() => Entity.ConfirmPassword)"/>
            </div>
        </div>
    </div>
</EditForm>